*.
*.swp
*.bak
*~
*.~ml
*.orig
*.msi
*.iml
*.ipr
*.iws
.DS_Store

.settings
.project
.classpath
.idea

*.h2.db

work
target
bin

WEB-INF/classes
WEB-INF/lib
WEB-INF/app
WEB-INF/modules/cdeio
core/src/main/resources/cdeio/**/*.js
core/src/main/coffee/cdeio/**/*.js
src/main/webapp/scripts/main-dist.js
test-output
