.ui-layout-north {
    padding: 0px;
}

.ui-layout-pane {
    border: 0px none;
}

.ui-layout-north .navbar {
    margin-bottom: 0px;
}

.ui-layout-north .navbar-inner {
    border-radius: 0;
}

.ui-layout-west .sidebar-nav {
    margin-bottom: 0px;
}
